# Ignore log files
*.log     
*.tmp            

# Ignore build output
/dist/
/build/

# Ignore pycache
__pycache__/

# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore spec files
*.spec

# Editor-specific folders
.vscode/
.idea/